@import url("font.css");
@import url("header.css");
@import url("support.css");
@import url("footer.css");

.content{
    padding-left: 12%;
    padding-right: 12%;
}
*{
    font-family: Shabnam;
    padding: 0;
    margin: 0;
}
body{
    font-weight: lighter;
}
p{
    margin-bottom: 10px;
}
b{
    font-weight: bold;
}
.block-button{
    display: inline-block;
    border-radius: 20px;
    text-decoration: none;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
}

.bold{
    font-weight: bold;
}