h1{
    color: rgb(102, 102, 102);
    display: inline;
    position: absolute;
    top: 42px; 
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: lighter;
}

.top-header{
    margin-top: 40px;
    padding-left: 9%;
    padding-right: 9%;
}

.top-header hr{
    border: 1px solid rgb(240, 240, 240);
}
.sign-in-btn{
    width: 130px;
    font-size: 20px;
    border: 1px rgb(102, 102, 102) solid;
    background: rgb(102, 102, 102);
    color: rgb(255, 255, 255);
    -webkit-transition: background 0.3s;
    transition: background 0.3s;
}
.sign-in-btn:hover{
    border: 1px rgb(59, 85, 230) solid;
    background: rgb(59, 85, 230);
    color: rgb(255, 255, 255);
    -webkit-transition: background 0.3s;
    transition: background 0.3s;
}
.sign-up-btn{
    color: rgb(102, 102, 102);
    font-size: 20px;
    width: 130px;
    border: 1px rgb(102, 102, 102) solid;
    -webkit-transition: color 0.3s;
    transition: color 0.3s;
    -webkit-transition: border 0.3s;
    transition: border 0.3s;
}
.sign-up-btn:hover{
    color: rgb(59, 85, 230);
    border: 1px rgb(59, 85, 230) solid;
    -webkit-transition: color 0.3s;
    transition: color 0.3s;
    -webkit-transition: border 0.3s;
    transition: border 0.3s;

}
.search{
    float: left;
    border: 1px rgb(102, 102, 102) solid;
    color: rgb(102, 102, 102);
    border-radius: 15px;
    background: url(../images/search.png) no-repeat scroll 10px 10px;
    background-size: 20px;
    padding-left: 40px;
    padding-right: 10px;
    width: 23%;
    height: 38px;
    font-size: 20px;
    -webkit-transition: border 0.3s;
    transition: border 0.3s;
}

.search:focus{
    outline-width: 0;
    border: 1px solid rgb(59, 85, 230);
    background: url(../images/search-hover.png) no-repeat scroll 10px 10px;
    background-size: 20px;
    -webkit-transition: border 0.3s;
    transition: border 0.3s;
}

.navigation-list{
    display: flex;
    margin-right: 20%;
    margin-left: 20%;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 20px;
    padding-bottom: 20px;
}
.navigation-item{
    flex: 1;
    text-decoration: none;
    text-align: center;
    color: rgb(102, 102, 102);
    border-bottom: 2px solid rgb(255, 255, 255);
    padding-bottom: 5px;
    -webkit-transition: border 0.3s;
    transition: border 0.3s;
}
.navigation-item:hover{
    color: rgb(59, 85, 230);
    border-bottom: 2px solid rgb(59, 85, 230);
    -webkit-transition: border 0.3s;
    transition: border 0.3s;
    
}

.navigation-list-2{
    text-align: center;
    display: flex;
    padding: 0;
    margin-top: 5px;
    margin-bottom: 5px;
}

.navigation-list-2 .active{
    border: 1px solid rgb(59, 85, 230);
    color: rgb(59, 85, 230);
}
.navigation-list-2 .active .navigation-img-about-us{
    background: url("../images/about-us-active.png") no-repeat;
    background-size: 50px;
}
.navigation-list-2 .active .navigation-img-contact-us{
    background: url("../images/contact-us-active.png") no-repeat;
    background-size: 50px;
}
.navigation-list-2 .active .navigation-img-faq{
    background: url("../images/faq-active.png") no-repeat;
    background-size: 50px;
}
.navigation-list-2 .active .navigation-img-return{
    background: url("../images/return-active.png") no-repeat;
    background-size: 50px;
}
.navigation-list-2 .active .navigation-img-user{
    background: url("../images/user-active.png") no-repeat;
    background-size: 50px;
}
.navigation-list-2 .active .navigation-img-privacy{
    background: url("../images/privacy-active.png") no-repeat;
    background-size: 50px;
}

.navigation-item-2{
    border-radius: 5px;
    flex: 1;
    text-decoration: none;
    display: inline-block;
    margin: 10px;
    color: rgb(102, 102, 102);
    border: 1px solid rgb(102, 102, 102);
    padding-top: 10px;
    box-shadow: 1px 1px 1px rgb(200, 200, 200);
    padding-bottom: 10px;
    font-size: 19px;
    -webkit-transition: background 0.3s;
    transition: background 0.3s;
}
.navigation-item-2:hover{
    border: 1px solid rgb(59, 85, 230);
    background: rgb(59, 85, 230);
    color:  rgb(255, 255, 255);
    -webkit-transition: background 0.3s;
    transition: background 0.3s;
}

.image-navigation-2{
    width: 50px;
    height: 50px;
    margin: auto;
    background-size: 50px;
    padding-bottom: 15px;
}
.navigation-item-2 .navigation-img-about-us{
    background: url("../images/about-us.png") no-repeat;
    background-size: 50px;
}
.navigation-item-2:hover .navigation-img-about-us{
    background: url("../images/about-us-hover.png") no-repeat;
    background-size: 50px;
}

.navigation-item-2 .navigation-img-contact-us{
    background: url("../images/contact-us.png") no-repeat;
    background-size: 50px;
}
.navigation-item-2:hover .navigation-img-contact-us{
    background: url("../images/contact-us-hover.png") no-repeat;
    background-size: 50px;
}

.navigation-item-2 .navigation-img-faq{
    background: url("../images/faq.png") no-repeat;
    background-size: 50px;
}
.navigation-item-2:hover .navigation-img-faq{
    background: url("../images/faq-hover.png") no-repeat;
    background-size: 50px;
}

.navigation-item-2 .navigation-img-return{
    background: url("../images/return.png") no-repeat;
    background-size: 50px;
}
.navigation-item-2:hover .navigation-img-return{
    background: url("../images/return-hover.png") no-repeat;
    background-size: 50px;
}

.navigation-item-2 .navigation-img-user{
    background: url("../images/user.png") no-repeat;
    background-size: 50px;
}
.navigation-item-2:hover .navigation-img-user{
    background: url("../images/user-hover.png") no-repeat;
    background-size: 50px;
}

.navigation-item-2 .navigation-img-privacy{
    background: url("../images/privacy.png") no-repeat;
    background-size: 50px;
}
.navigation-item-2:hover .navigation-img-privacy{
    background: url("../images/privacy-hover.png") no-repeat;
    background-size: 50px;
}

.navigation-item-2:first-child{
    margin-right: 0;
}
.navigation-item-2:last-child{
    margin-left: 0;
}