@import url("general.css");
.return-start{
    margin-top: 40px;
}
.return-top{
    color: rgb(102, 102, 102);
    padding-right: 8%;
    padding-left: 2%;
}
.return-header{
    font-size: 18px;
}
.return-top-hr{
    margin-left: 8%;
    margin-right: 4%;
    border: 1px solid rgb(240, 240, 240);
}

.return-middle{
    margin-right: 8%;
    margin-left: 2%;
}

.return-middle-content{
    display: flex;
    color: rgb(102, 102, 102);
    margin-top: 40px;
    margin-bottom: 20px;
}
.return-header{
    font-size: 18px;
}
.return-top-text{
    font-size: 15px;
}
.return-text{
    font-size: 15px;
    margin-bottom: 30px;
}

.return-col1{
    flex: 6;
    margin-left: 40px;
    text-align: justify;
}
.return-col2{
    flex: 7;
}

.return-container{
    margin-top: 30px;
    margin-bottom: 120px;
}

.return-form{
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 12px;
    border-radius: 5px;
    padding-bottom: 20px;
    box-shadow: 0px 17px 40px rgb(180, 180, 180);
}
.return-form p, .return-form-label{
    margin: 0;
    color: rgb(59, 85, 230);
    font-weight: bold;
}
.return-title{
    padding: 10px;
    padding-right: 20px;
}
.return-form hr{
    border: 1px solid rgb(240, 240, 240);
}
.return-form-row{
    display: flex;
}
.return-form-label{
    display: block;
    padding-top: 20px;
    padding-right: 18%;
}
.return-textfield{
    display: block;
    box-sizing: border-box;
    width: 70%;
    margin: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 20px;
    padding-left: 20px;
    border: 1px rgb(110, 110, 110);
    background: rgb(240, 242, 247);
    border-radius: 20px;
    color: rgb(110, 110, 110);
    font-size: 11px;
}
.return-textfield:focus{
    outline-width: 0;
}
.return-order-hr{
    margin-top: 60px;
    margin-bottom: 10px;
}
.return-submit-button{
    color: rgb(255, 255, 255);
    font-size: 12px;
    background: rgb(59, 85, 230);
    border-radius: 20px;
    margin: auto;
    display: block;
    width: 200px;
    padding: 10px;
    border: 1px solid rgb(59, 85, 230);
    outline-width: 0;
}
.return-submit-button:hover{
    cursor: pointer
}