/* .online-support{
    position: fixed;
    bottom: 0;
    right: 0;
    padding: 0;
    background: rgb(59, 85, 230);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    color: rgb(255, 255, 255);
    font-size: 22px;
    margin-right: 10px;
} */
.online-support p{
    display: inline-block;
    margin-top: 15px;
    margin-bottom: 10px;
    margin-left: 40px;
    margin-right: 30px;
}
.online-support img{
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    width: 50px;
    height: 50px;
    margin-bottom: 10px;
    margin-top: 10px;
    margin-right: 20px;
}
.online-support:hover{
    cursor: pointer;
}


.online-support-clicked{
    position: fixed;
    bottom: 0;
    right: 0;
    background: rgb(59, 85, 230);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    color: rgb(255, 255, 255);
    margin-right: 10px;
    width: 400px;
}
.header-online-support .support-image{
    display: inline-block;
    width: 70px;
    height: 70px;
    margin-bottom: 10px;
    margin-top: 10px;
    margin-right: 20px;
    vertical-align: middle;
}
.name-part{
    display: inline-block;
    font-size: 14px;
    margin-top: 5px;
    margin-right: 10px;
    vertical-align: middle;
}
.minimize{
    display: inline-block;
    float: left;
    width: 25px;
    height: 25px;
    vertical-align: top;
    margin-top: 10px;
    margin-left: 10px;
}
.main-online-support{
    background: rgb(233, 233, 233);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    height: 400px;
}
.bottom-online-support{
    background: rgb(233, 233, 233);
    border: 3px solid rgb(200, 200, 200);
    height: 60px;
    /* padding: 10px; */
}
.input-support{
    border: 1px solid rgb(250, 250, 250);
    border-radius: 0 10px 10px 0;
    font-size: 16px;
    padding: 12px 15px;
    vertical-align: middle;
    margin: 6px 10px 6px -5px;
    width: 296px;
}
.send-button{
    display: inline-block;
    background: url(../images/send.png) no-repeat 9px 9px;
    background-size: 30px;
    width: 30px;
    height: 30px;
    background-color: rgb(255, 255, 255);
    padding: 9px;
    border-radius: 10px 0 0 10px;
    vertical-align: middle;
}